In [9]:
arr = [6, 'apple', false,]

[ 6, 'apple', false ]

In [2]:
arr[0]

6

In [3]:
arr[1]

'apple'

In [4]:
arr[1] = 'orange'

'orange'

In [5]:
arr

[ 6, 'orange', false ]

In [6]:
arr[3] = 8

8

In [7]:
arr

[ 6, 'orange', false, 8 ]

In [8]:
arr.length

4

In [10]:
arr.push('pear')

4

In [11]:
arr

[ 6, 'apple', false, 'pear' ]

In [12]:
arr.push(2)

5

In [13]:
arr

[ 6, 'apple', false, 'pear', 2 ]

In [16]:
arr.pop()

2

In [17]:
arr

[ 'apple', false, 'pear' ]

In [18]:
arr.shift()

'apple'

In [19]:
arr

[ false, 'pear' ]

In [20]:
arr.unshift(5)

3

In [21]:
arr

[ 5, false, 'pear' ]

In [23]:
typeof(arr)

'object'

# Loops

In [24]:
for (let i = 0; i < arr.length; i++) {
    console.log(arr[i]);
}

5
false
pear

In [26]:
preallocated = new Array(8)

[ <8 empty items> ]

In [29]:
product = {
    name: 'something',
    price: 100,
    quantity: 34,
}

product2 = {
    name: 'something else',
    price: 150,
    quantity: 3,
}

{ name: 'something else', price: 150, quantity: 3 }

In [30]:
products = [product, product2]

[
  { name: 'something', price: 100, quantity: 34 },
  { name: 'something else', price: 150, quantity: 3 }
]

In [27]:
for (let value of preallocated) {
    console.log(value)
}

undefined
undefined
undefined
undefined
undefined
undefined
undefined
undefined

In [33]:
for (let item of arr) {
    console.log(item)
}

5
false
pear

In [34]:
function logItem(item) {
    console.log(item)
}

In [35]:
arr.forEach(logItem)

5
false
pear

In [36]:
arr.forEach((item) => {
    console.log(item)
})

5
false
pear

In [40]:
numbers = [4, 7, 12, 9, 11]

[ 4, 7, 12, 9, 11 ]

In [41]:
largestNumber = numbers.find((value) => value > 10)

12

In [42]:
evenNumbers = numbers.filter((value) => value % 2 === 0)

[ 4, 12 ]

In [43]:
doubledNumbers = numbers.map((value) => value * 2)

[ 8, 14, 24, 18, 22 ]

## Arrays and Strings

In [44]:
words = 'what time is it?'

'what time is it?'

In [45]:
words.split(' ')

[ 'what', 'time', 'is', 'it?' ]

In [47]:
names = 'Mark,Bibu,Nico'

'Mark,Bibu,Nico'

In [49]:
namesArray = names.split(',')

[ 'Mark', 'Bibu', 'Nico' ]

In [51]:
namesAgain = namesArray.join(',')

'Mark,Bibu,Nico'

# Reduce

In [52]:
numbers

[ 4, 7, 12, 9, 11 ]

In [53]:
sum = 0
numbers.forEach((value) => {
    sum += value
})

In [54]:
sum

43

In [57]:
sum = numbers.reduce((runningTotal, value) => {
    return runningTotal + value
}, 0)

43

In [58]:
sum

43

In [59]:
typeof(numbers)

'object'

In [61]:
Array.isArray(numbers)

true

In [63]:
Object

[Function: Object]

In [64]:
Array

[Function: Array]

# Objects to Arrays

In [65]:
users = {
    4832: { name: 'Mark', age: 36, isAdmin: true },
    9628: { name: 'John', age: 25, isAdmin: false },
    2749: { name: 'Sally', age: 45, isAdmin: false },
}

{
  '2749': { name: 'Sally', age: 45, isAdmin: false },
  '4832': { name: 'Mark', age: 36, isAdmin: true },
  '9628': { name: 'John', age: 25, isAdmin: false }
}

In [66]:
Object.keys(users)

[ '2749', '4832', '9628' ]

In [67]:
Object.values(users)

[
  { name: 'Sally', age: 45, isAdmin: false },
  { name: 'Mark', age: 36, isAdmin: true },
  { name: 'John', age: 25, isAdmin: false }
]

In [68]:
Object.entries(users)

[
  [ '2749', { name: 'Sally', age: 45, isAdmin: false } ],
  [ '4832', { name: 'Mark', age: 36, isAdmin: true } ],
  [ '9628', { name: 'John', age: 25, isAdmin: false } ]
]

In [69]:
for (let [id, user] of Object.entries(users)) {
    console.log(`User ${id} has a name of ${user.name}`)
}

User 2749 has a name of Sally
User 4832 has a name of Mark
User 9628 has a name of John

# Destructuring

In [70]:
numbers

[ 4, 7, 12, 9, 11 ]

In [74]:
[firstNumber, secondNumber, ...restNumbers] = numbers

[ 4, 7, 12, 9, 11 ]

In [75]:
firstNumber

4

In [76]:
secondNumber

7

In [77]:
restNumbers

[ 12, 9, 11 ]